################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TEDU/FileContentIndex/198bbcbc-9b42-4156-ac40-b2d0fa128b2d.vsidx
