################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TEDU/FileContentIndex/198bbcbc-9b42-4156-ac40-b2d0fa128b2d.vsidx
/.vs/TEDU/FileContentIndex/35c25b9f-93bd-4112-b78d-549f82fe33b1.vsidx
