
@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/style_schedule.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<div class="trending-area fix">
        <div class="container">
            <div class="trending-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="trending-tittle">
                            <h2>
                                <i class="fa-regular fa-calendar-days"></i>
                                <span style="color: #00b98e;">Tin tức</span>
                            </h2>
                            <div class="trending-animated">
                                <ul id="js-news" class="js-hidden">
                                    <li class="news-item">Chào mừng bạn đến với trang tin tức của chúng tôi</li>
                                    <li class="news-item">Tôi là Châu Nguyễn Khánh Trình</li>
                                    <li class="news-item">Còn bạn của tôi là Thân Quốc Thịnh</li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <!-- Trending Top -->
                        <div class="trending-top mb-30">
                            <div class="trend-top-img rounded shadow">
                                <img src="https://i.ytimg.com/vi/CQCP6xNA1Hc/maxresdefault.jpg" alt="">
                                <div class="trend-top-cap">
                                    <span>Tic tức quan trọng</span>
                                    <h2><a href="details.html">Chúng tôi vừa mới cho ra mắt dòng xe mới<br> Lamborghini Bus</a></h2>
                                </div>
                            </div>
                        </div>
                        <!-- Trending Bottom -->
                        <div class="trending-bottom">
                            <div class="row">
                                <div class="col-lg-4">
                                <div class="single-bottom mb-35">
                                    <div class="trend-bottom-img mb-30">
                                        <img src="https://image.made-in-china.com/202f0j00VRpGwuNhEqcm/2018-Sunlong-Brand-New-Bus-24-37-Seats-Commuter-Bus-Slk6803-.jpg" alt="">
                                    </div>
                                    <div class="trend-bottom-cap">
                                        <span class="color1">Tin tức mới</span>
                                        <h4><a href="details.html">Dòng xe Lamborghini Triết ra mắt</a></h4>
                                    </div>
                                </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="single-bottom mb-35">
                                        <div class="trend-bottom-img mb-30">
                                            <img src="https://image.made-in-china.com/202f0j00UYuGQaJfIcqy/2018-Sunlong-New-Coach-Slk6903-Passenger-Bus.jpg" alt="">
                                        </div>
                                        <div class="trend-bottom-cap">
                                            <span class="color2">Tin tức mới</span>
                                            <h4><a href="details.html">Dòng xe Lamborghini Trình ra mắt</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="single-bottom mb-35">
                                        <div class="trend-bottom-img mb-30">
                                            <img src="https://image.made-in-china.com/202f0j00UYuGQaJfIcqy/2018-Sunlong-New-Coach-Slk6903-Passenger-Bus.jpg" alt="">
                                        </div>
                                        <div class="trend-bottom-cap">
                                            <span class="color3">Tin tức mới</span>
                                            <h4><a href="details.html"> Dòng xe Lamborghini Thịnh ra mắt</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Riht content -->
                    <div class="col-lg-4">
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                <img src="~/Content/assets/img/trending/right1.jpg" alt="">
                            </div>
                            <div class="trand-right-cap">
                                <span class="color1">Tin tức mới</span>
                                <span>14:30 22/10/2024</span>
                                <h4><a href="details.html">Khai trương chi nhánh Quận 5 - Thành phố Hồ Chí Minh</a></h4>
                            </div>
                        </div>
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                <img src="~/Content/assets/img/trending/right2.jpg" alt="">
                            </div>
                            <div class="trand-right-cap">
                                <span class="color3">Tin tức mới</span>
                                <span>14:30 22/10/2024</span>
                                <h4><a href="details.html">Khai trương chi nhánh Quận 7 - Thành phố Hồ Chí Minh</a></h4>
                            </div>
                        </div>
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                <img src="~/Content/assets/img/trending/right3.jpg" alt="">
                            </div>
                            <div class="trand-right-cap">
                                <span class="color2">Tin tức mới</span>
                                <span>14:30 22/10/2024</span>
                                <h4><a href="details.html">Hoán đổi dòng xe Trình và Thịnh</a></h4>
                            </div>
                        </div> 
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                <img src="~/Content/assets/img/trending/right4.jpg" alt="">
                            </div>
                            <div class="trand-right-cap">
                                <span class="color4">Tin tức mới</span>
                                <span>14:30 22/10/2024</span>
                                <h4><a href="details.html">Bắt đầu khai thác tuyến xe Hà Nội - Campuchia</a></h4>
                            </div>
                        </div>
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                <img src="~/Content/assets/img/trending/right5.jpg" alt="">
                            </div>
                            <div class="trand-right-cap">
                                <span class="color1">Tin tức mới</span>
                                <span>14:30 22/10/2024</span>
                                <h4><a href="details.html">Bắt đầu khai thác tuyến xe Hà Nội - Thái Lan</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Trending Area End -->
    <!--   Weekly-News start -->
    <div class="weekly-news-area pt-50">
        <div class="container">
           <div class="weekly-wrapper">
                <!-- section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle mb-30">
                            <h3 class="text-success">Tin tức trong tuần</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="weekly-news-active dot-style d-flex dot-style">
                            <div class="weekly-single">
                                <div class="weekly-img">
                                    <img src="https://sapanomad.com/wp-content/uploads/kadham-bus-hanoi-sapa-2.jpg" alt="">
                                </div>
                                <div class="weekly-caption">
                                    <span class="color1">Tin tức mới</span>
                                    <h4><a href="#">Nâng cấp giường nằm dòng xe Limousine Lamborghini</a></h4>
                                </div>
                            </div> 
                            <div class="weekly-single">
                                <div class="weekly-img">
                                        <img src="https://sapanomad.com/wp-content/uploads/kadham-bus-hanoi-sapa-3-768x576.jpg" alt="">
                                </div>
                                <div class="weekly-caption">
                                    <span class="color1">Tin tức mới</span>
                                    <h4><a href="#">Nâng cấp giường nằm dòng xe Limousine Rolls Royce</a></h4>
                                </div>
                            </div>
                            <div class="weekly-single">
                                <div class="weekly-img">
                                        <img src="https://sapanomad.com/wp-content/uploads/bus-sapa-ninh-binh-2.jpg" alt="">
                                </div>
                                <div class="weekly-caption">
                                    <span class="color1">Tin tức mới</span>
                                    <h4><a href="#">Nâng cấp giường nằm dòng xe Limousine BMW</a></h4>
                                </div>
                            </div>
                            <div class="weekly-single">
                                <div class="weekly-img">
                                    <img src="https://vnpay.vn/s1/statics.vnpay.vn/2023/6/0nrqya51a51s1686559599675.jpg" alt="">
                                </div>
                                <div class="weekly-caption">
                                    <span class="color1">Tin tức mới</span>
                                    <h4><a href="#">Nâng cấp giường nằm dòng xe Limousine Trình</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>